<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>bjjlinks.com</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/media/Synthetik/template/styles/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/media/Synthetik/template/styles/960.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/media/css/skin.css" />
        
<style>
#cats{padding:0px 15px;}
</style>
    </head>
<body>
    
    <!-- BEGIN SERVICES CONTENT -->
    <div id="servicesTop"></div>
    <div id="services-wrap">
        <div id="services" class="container_16 clearfix gen-content-c">
            
404
        </div>  <!-- end #services -->
    </div>  <!-- end #services-wrap -->
    <!-- END SERVICES CONTENT -->
    <!-- BEGIN FOOTER -->
    <div id="footer-wrap">
        <div id="footer" class="container_16 clearfix">
        </div> <!-- end #footer -->

    </div>  <!-- end #footer-wrap -->
    <!-- END FOOTER -->
        
</body>
</html>
