<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <META name="y_key" content="5128da6433598d54" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Best BJJ Links or Brazilian Jiu Jitsu Links" />
        <meta name="keywords" content="BJJ links, brazilian jiu jitsu links, BJJ, brazilian jiu jitsu, mma, jiu jitsu techniques, jiu jitsu moves" />
        <title>{% block title %}bjj links{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
<script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
<script type="text/javascript" src="/media/asmselect/jquery.asmselect.js"></script>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/openid-jquery.js"></script> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/all2.js"></script>
<script type="text/javascript" src="/media/Synthetik/template/js/jqueryslidemenu.js"></script>

{% block extrahead %}
{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12460479-19']);
    _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

</script>        
    </head>

<body class="docs" id="default">
<div id="fb-root"></div> 
<script>
var auth = {% if user.is_authenticated %}1{% else %}0{% endif %};
var path = "{{request.path}}";
FB.init({
    appId  : '204008706318192',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
});
</script>    
        <div class="wrapper">
<center>
<div id="ads">
    <table>
        <tr>
        <td>
        <!-- Begin: adBrite, Generated: 2011-09-15 0:42:11  -->
<script type="text/javascript">
var AdBrite_Title_Color = '2869A9';
var AdBrite_Text_Color = '444444';
var AdBrite_Background_Color = 'F1F1F2';
var AdBrite_Border_Color = 'CCCCCC';
var AdBrite_URL_Color = '699C06';
try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
</script>
<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=2013171&zs=3732385f3930&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=2013171&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /></a></span>
<!-- End: adBrite -->
</td>
        <td><img src="/media/images/bjjlinkslogo.png" /></td>
        </tr>
    </table>
</div>
</center>
<nav>
    <ul class="nav">
        <li><a id="poll" class="navEffect" href="{% url poll_index %}">Polls</a></li>
        {% if user.is_authenticated %}
        <li><a id="add_post" class="navEffect" href="{% url add_post %}">Add Post</a></li>
        <li><a id="add_poll" class="navEffect" href="{% url add_poll %}">Add Poll</a></li>
        {% endif %}
        <li><a id="top" class="navEffect" href="{% url top_contributers %}">Users</a></li>
        <li><a id="search" class="navEffect" href="{% url haystack_search %}">Search</a></li>
    </ul>
    <div class="clear"></div>
</nav>
            
            <header>
                <div id="header-content">
                    <a id="home" class="home" href="/">Top</a> |
                    <a id="latest" class="navEffect" href="{% url latest %}">Latest</a> |
            {% for cat in cats %}
                <a href="{% url category cat.pk %}{% firstof cat.seo_name|slugify cat.name|slugify %}">{{cat.name}} </a>{% if not forloop.last %}|{% endif %} 
            {% endfor %}
                </div>
            </header>
            
            <div id="main_content">
                
<div class="docs-content">
    <div class="main-col">
        <div class="section min" id="introduction">
    <center>{% block page_title %}<h2>{{title}}</h2>{% endblock %}</center>
        <hr id="ti" />
   {% block content %}{% endblock %}
        </div>
    </div>
    
    <aside style="margin-top:70px" class="sidebar">
        {% if user.is_authenticated %}
            {% if handle_form %}
            <h5>Welcome</h5>
            <hr />
                <form method="post" action="{% url set_handle %}"> {% csrf_token %} 
                    <p>Set your username: {{handle_form.handle}} <input type="submit" value="Submit" /></p>
                </form>
            {% else %}
            <h5>Welcome <b>{{user.get_profile.handle}}</b></h5>
            <hr />
               You have <span id="pts" class="yellow">{{user.get_profile.points}}</span> points.
               </p>
               <p class="right-align">
<a href="{% url edit_profile %}">Edit profile</a> |
                <a href="{% url socialauth_social_logout %}" onclick="return logoutFb()">Logout</a>
                </p>
                <br clear="both" />
            {% endif %}
        {% else %}
        <h5>Login or Register</h5>
          <hr />
<p>
<a href="{{ FB_LOGIN_URL|safe}}">
             <img style="margin:0px;padding:0px;" src="{{MEDIA_URL}}icons/facebook-32.png" />
           </a>
            <a href="http://{{DOMAIN}}/accounts/openid/?action=verify&openid_next=%2F&openid_identifier=https%3A%2F%2Fwww.google.com%2Faccounts%2Fo8%2Fid"><img src="{{MEDIA_URL}}icons/google-32.png" /></a>
            <a href="{% url socialauth_linkedin_login %}?next=/">
                <img src="{{MEDIA_URL}}icons/linkedin-32.png" />
            </a> 
            <a href="{% url socialauth_twitter_login %}">
                <img src="{{MEDIA_URL}}icons/twitter-32.png" />
            </a>
</p>        <a id="register" class="navEffect" href="{% url registration_register %}">Register</a> or login <a id="login" class="" href="{% url login %}">here</a>
        {% endif %}
    </aside>
    <aside class="sidebar">
        <h5>Popular Polls</h5>
        <hr />
        {% for poll in top_polls %}         
        <p>{{poll.question}}</p>
        {% endfor %}
    </aside>
    <aside class="sidebar">
        <h5>Most Discussed</h5>
        <hr />
        {% for post in most_discussed %}
        {% with post.1|slugify as slug %}
        <p><a href="/post/{{post.0}}/{{slug}}">{{post.1}}</a></p>
        {% endwith %}
        {% endfor %}
    </aside>

</div>
<div class="clear"></div>
            </div>
            <div class="push"></div>
        </div>
<center>
<div id="ads-bot">
<!-- Begin: adBrite, Generated: 2011-09-15 0:42:11  -->
<script type="text/javascript">
var AdBrite_Title_Color = '2869A9';
var AdBrite_Text_Color = '444444';
var AdBrite_Background_Color = 'F1F1F2';
var AdBrite_Border_Color = 'CCCCCC';
var AdBrite_URL_Color = '699C06';
try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
</script>
<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=2013171&zs=3732385f3930&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=2013171&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /></a></span>
<!-- End: adBrite -->
</div>
</center>
    </body>
</html>
