{% load comments %}

<table id="p-t" border="0">
    <tbody id="posts">
        {% for post in posts.object_list %}
        {% get_comment_count for post as comment_count %}
        <tr>
            <td class="rank"></td>
            <td class="cell"><a href="{% if tup.6 %}/post/{{post.id}}/{{post.title|slugify}}{% else %}{{post.post_url}}" target="blank{% endif %}">{{ post.title }}</a></td>
            <td id="{{post.id}}" class="green">+{{ post.upvotes }}</td>
            <td><a href="/post/{{post.id}}/{{post.title|slugify}}#comments" class="yellow comm">{{ comment_count }} comments</a> <span class="comm"> by </span> <a href="/profile/{{post.author.get_profile.handle}}" class="name">{{ post.author.get_profile.handle }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
